@charset 'UTF-8';

/*Configurações Gerais pra todas as medias; é bem generica na vdd*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233EFF;
}
h1{
    color: white;
    text-shadow: 2px 2px 0px rgb(17, 0, 255);
    padding: 10px;
}