
@charset "UTF-8";

:root{
    --cor1: black;
    --cor2: white;
    --cor3: #49a09d;
    --cor4: #5f2c82;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #490179fa;
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: var(--cor2);
    width: 250px;
    height: 530px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.63);
    transition: width .3s, heigth .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #5f2c82 url(../image/predio.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: center top;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

section#login > div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

section#login > div#formulario > p{
    text-align: justify;
    font-size: 0.8em;
    margin-bottom: 10px;
}

section#login > div#formulario > form > div.campo {
    background-color: var(--cor4);
    border-radius: 5px;
    margin-bottom: 4px;
    padding-right: 4px;
}

section#login > div#formulario > form > div.campo > input {
    background-color: var(--cor3);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 44px);
    padding: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    transform: translateY(-7px);
    border: 0px;
}

section#login > div#formulario > form > div.campo > input:focus-within{
    background-color: white;
}

div.campo > span{
    color: var(--cor2);
    font-size: 2em;
    width: 40px;
    padding: 3px;
}

div.campo > label{
    display: none;
}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09dc7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: #2b5c5a;
}

form > a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    border:1px solid #2b5c5a;
    border-radius: 5px;
    background-color: #43918e;
}

form > a.botao > span{
    font-size: 1em;
    padding-top: 5px;
}

form > a.botao:hover{
    background-color: #346e6ce7;
}
