@charset 'UTF-8';

/*Para outros dispositivos*/

@media only screen and (min-width: 768px){
    header > nav{
        display: block;
    }
    header > nav > ul {
        display: inline-flex;
        list-style-type: none;
    }
    header > nav > ul li {
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }
    span.material-symbols-outlined {
        display: none;
    }
}

