@charset 'UTF-8';
/*Estilo para impressora*/
* {
  margin: 10px;
  padding: 10px;
}

html {
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  line-height: 1.5em;
}
header {
text-align: center
}
menu {
  display: none; /*Para não aparecer o menu*/
}
article::after {
  content: "Esse artigo foi impreso atráves do site www.github.com/SharkGalaxy";
}
