@charset "UTF-8"; 
/*Essa linha diz ao navegador:

"Ei, estou usando UTF-8 como padrão para os caracteres especiais.
UTF-8 é um formato que entende letras com acento (como á, é, ã, ç) e símbolos diferentes (como €, ©, ♥). "*/

body {
    background-color: lightgoldenrodyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: maroon;
    background-color: goldenrod;
}
h2 {
    color: darkred;
}
p {
    text-align: justify;
}