@charset 'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #048ABF, #3C92A6);
}
main {
    background-color: white;
    width: 65%;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #055c92;

}
h1 {
    color: #0477BF;
    text-align: center;
}
h2{
 color: #0477BF;
}
p {
    text-align: justify;
    color: #797066;
}